<div class="container">
  <div class='header'><h1>{{ title }}</h1>   </div>
  <h5>Your Current Position : {{address}}</h5>  
  <div class="form-group">
    Enter address : <input type="text" style='display: initial;width: 90%;' class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
       <agm-marker [latitude]="clat" [longitude]="clng" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
       <agm-direction [origin]="origin" [destination]="destination"></agm-direction>
  </agm-map>

<!-- <agm-map [latitude]="clat" [longitude]="clng">
  <agm-direction [origin]="origin" [destination]="destination"></agm-direction>
</agm-map> -->
<!-- After clicking the button open the modal dialog using open/close event binding methods -->






<div class="backdrop" [ngStyle]="{'display':display}"></div>  

<!-- modal -->
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"><p style="margin: 0;font-weight: 900;">Choose a ride</p></div>
      <div class="modal-body">  
        <div id="choose" style="display: block" >
        <div class="row" style="    border-bottom: #00000021 solid 1px;" (click)='findride(1,pool )'>
          <div class="col-md-2"><img src="../assets/images/UberPool.jpg"> </div><div class="col-md-6"> <p class="sub">Pool</p>
          <p>persons - 2</p><p> Shared rides with the option to walk </p></div><div class="col-md-3"><p class="sub"> ₹ {{ pool }} </p></div>
        </div>
        <div class="row" style="    border-bottom: #00000021 solid 1px;">
          <div class="col-md-2"><img src="../assets/images/UberX.jpg"> </div><div class="col-md-6"> <p class="sub">Uber Go</p>
            <p>persons - 4</p><p> Affordable, compact rides </p>
          
          </div><div class="col-md-3"><p class="sub">  ₹ {{ go }} </p> </div> </div>
          <div class="row">
          <div class="col-md-2"><img src="../assets/images/bike.jpg"> </div><div class="col-md-6"> <p class="sub">Moto</p>
            <p>persons - 1</p><p> Affordable motorcycle rides </p>
          
          </div><div class="col-md-3"><p class="sub">  ₹ {{ moto }} </p> </div> 
          
      </div> </div>
      <div id='hello' class="hello" style="display: none">
          Your Ride Cannot be booked,

          <h2> Sorry for in convenince</h2>
          Try After some time....
      
         </div>
    </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close</button>
      </div>
  


  </div>
</div>
</div>




</div>