/* You can add global styles to this file, and also import other style files */
body{
    background: #d1e1e29e;
  }

  .ng-valid[required], .ng-valid.required  {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-left: 10px solid rgb(218, 200, 43); /* yellow */
}

.ng-invalid:not(form)  {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-left: 10px solid #e94646; /* red */
}

.backdrop {
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

.modal-dialog {
    max-width: 1000px;
    margin: 5rem auto;
    width: 67%;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 7px solid;
    border-radius: 0;
    outline: 0;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 0px solid #dee2e6;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #000;
    color: #fff;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}
.sub{
    
    font-weight: 500;
    margin-top: 1rem;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 0px solid #dee2e6;
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0;
    background: #000;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background: #fff;
    font-weight: 900;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}